<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Default title</title>

<!-- Bootstrap -->
<link href="/css/vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->
<link href="/css/vendors/font-awesome/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="/css/vendors/nprogress/nprogress.css" rel="stylesheet">



<!-- iCheck -->
<link href="../css/vendors/icheck/green.css" rel="stylesheet"></link>
<!-- bootstrap-progressbar -->
<link href="../css/vendors/bootstrap/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"></link>
<!-- JQVMap -->
<link href="../css/vendors/jqvmap/jqvmap.min.css" rel="stylesheet"></link>
<!-- bootstrap-daterangepicker -->
<link href="../css/vendors/bootstrap/daterangepicker.css" rel="stylesheet"></link>

<!-- Custom Theme Style -->
<link href="../css/custom.min.css" rel="stylesheet"></link>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script> -->
