                        <div class="profile">
                            <div class="profile_pic">
                                <img class="img-circle profile_img" alt="..." src="/images/img.jpg">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>Anthony Mutisya</h2>
                            </div>
                        </div>
