<div class="right_col" role="main">
  <!-- top tiles -->
  <!-- <div>   <% include ../../../components/dashboard1/content_subcomponents/top_tiles %>  </div> -->
  <!-- /top tiles -->

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- dashboard_graph -->
      <div>
        <% include ../../../components/dashboard1/content_subcomponents/dashboard_graph %>
      </div>
      <!-- /dashboard_graph -->
    </div>
  </div>
  <br/>

  <div class="row">
    <!-- dashboard graph -->
    <div>
      <% include ../../../components/dashboard1/content_subcomponents/app_versions %>
    </div>
    <!-- /dashboard graph -->

    <!-- device usage -->
    <div>
      <% include ../../../components/dashboard1/content_subcomponents/device_usage %>
    </div>
    <!-- /device usage -->

    <!-- quick settings -->
    <div>
      <% include ../../../components/dashboard1/content_subcomponents/quick_settings %>
    </div>
    <!-- /quick settings -->
  </div>

  <div class="row">
    <!-- recent activities -->
    <div>
      <% include ../../../components/dashboard1/content_subcomponents/recent_activities %>
    </div>
    <!-- /recent activities -->

    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="row">
        <!-- visitors location -->
        <div>
          <% include ../../../components/dashboard1/content_subcomponents/visitors_location %>
        </div>
        <!-- /visitors location -->
      </div>
      <div class="row">
        <!-- Start to do list -->
        <div>
          <% include ../../../components/dashboard1/content_subcomponents/to_do_list %>
        </div>
        <!-- End to do list -->

        <!-- start of weather widget -->
        <div>
          <% include ../../../components/dashboard1/content_subcomponents/weather_widget %>
        </div>
        <!-- end of weather widget -->
      </div>
    </div>
  </div>
</div>
