<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <!-- head base -->
    <div lang="en" th:replace="components/common/head_base :: head_base(title='Form upload')"> </div>
    <!-- /head base -->

    <!-- Dropzone -->
    <link href="/css/vendors/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />  
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="dashboard.html" class=
              "site_title"><span>Gentelella Alela!</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div lang="en" th:replace=
            "components/common/profile_quick_info"></div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div th:replace="components/common/sidemenu"></div>
            <!-- /sidebar menu -->
            <!-- menu footer buttons -->
            <div th:replace=
            "components/common/menu_footer_buttons"></div>
            <!-- /menu footer buttons -->
          </div>
        </div><!-- top navigation -->
        <div th:replace="components/common/top_navigation"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>
                  Form Upload
                </h3>
              </div>
              <div class="title_right">
                <div class=
                "col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control"
                    placeholder="Search for..." /> <span class=
                    "input-group-btn"><button class=
                    "btn btn-default" type="button"><span class=
                    "input-group-btn"><span class=
                    "input-group-btn">Go!</span></span></button></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>
                      Dropzone multiple file uploader
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                        <a class="collapse-link"></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button"
                        aria-expanded="false"></a>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a href="#">Settings 1</a>
                          </li>
                          <li>
                            <a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a class="close-link"></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p>
                      Drag multiple files to the box below for
                      multi upload or click to select files. This
                      is for demonstration purposes only, the files
                      are not uploaded to any server.
                    </p>
                    <form action="form_upload.html" class=
                    "dropzone"></form><br />
                    <br />
                    <br />
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /page content -->
        <!-- footer content -->
        <div th:replace="components/common/footer"></div>
        <!-- /footer content -->
      </div>
    </div><!-- jQuery -->
    <script src="/js/vendors/jquery/jquery.min.js" type=
    "text/javascript">
</script><!-- Bootstrap -->
    <script src="/js/vendors/bootstrap/bootstrap.min.js" type=
    "text/javascript">
</script><!-- FastClick -->
    <script src="/js/vendors/fastclick/fastclick.js" type=
    "text/javascript">
</script><!-- NProgress -->
    <script src="/js/vendors/nprogress/nprogress.js" type=
    "text/javascript">
</script><!-- Dropzone.js -->
    <script src="/js/vendors/dropzone/dropzone.min.js" type=
    "text/javascript">
</script><!-- Custom Theme Scripts -->
    <script src="/js/custom.min.js" type="text/javascript">
</script>
  </body>
</html>