<div class="right_col" ng-controller="test224 as t224" ng-app="myApp">
  {{test}}
</div>

<script>
  var app = angular.module("myApp", []);

  app.controller("test224", ['$http', '$scope', function($http, $scope) {
    


  }])
</script>
